$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Satisfy);
$font-stack: Satisfy, cursive;

/* Overwrite bootstrap global variables */
// injector:global
// endinjector

/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector:app
// endinjector
/* app css stylesheet */
  hr{
    border-color:$forest-fall;
  }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight:200;
}

.home-splash .container h1,
.home-splash .container h2{
   font-family:$font-stack;
   color:$mountain-water;
}

.home-splash{
  margin-top:$navbar-height *2;
}


.home-splash .jumbotron {
  background-color: $forest-fall;
  color:darken($forest-dirt, 5%);
}

.home-splash .container h1 small{
   font-family:$font-family-monospace;
   font-size:30px;
   color:$forest-dirt;
}

.dashboard-stage .container h1{
   font-size:30px;
}


.list-inline {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.list-inline li {
  display: table-cell;
  text-align: center;
}
.dashboard-stage  .page-header{
     border-bottom-color:$forest-bark;
}
.dashboard-stage .main{
  margin-top:$navbar-height *2;
}
.dashboard-stage .main h1{
   font-family:$font-stack;
}
.dashboard-stage .sidebar{
  margin-top:$navbar-height *5;
  .nav-sidebar{
    a{
      color:darken($forest-leaf, 10%);
      font-weight:200;
      font-size:24px;
    }
    a:hover{
      background-color: darken($forest-summer, 5%);
    }
  }
}

.navbar-default .navbar-brand {
  color: $creek-water-blue;
}

.navbar-default .navbar-brand:hover {
  color: darken($mountain-water, 4%);
}

.navbar-brand {
  margin-left: -15px;
  transition: 0.25s all;
}

.navbar-default .navbar-collapse .navbar-brand {
  margin-right:50%;
}


.navbar-default .navbar-toggle {
  position: relative;
  right:10px;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: $creek-water-blue;
  background-image: none;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
}

.navbar-default .navbar-toggle:hover{
  background-color: lighten($forest-leaf, 5%);
  .icon-bar{
      background-color:darken($forest-bark, 10%);
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $forest-bark;
}

.navbar-default .navbar-nav.btn-group  > li > a.btn-link.active {
    border-color: transparent;
    outline:none;
    color:$creek-water-blue;
}

.navbar-nav > li > a.btn-link:hover{
    color:lighten($forest-leaf, 5%);
}

.leaf-btn{
  @include button-variant(darken( $forest-dirt,3%), darken($forest-moss, 5%), $forest-fall);
}
